.cell{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .top{
    border-top: 0px;
  }
  .left{
    border-left: 0px;
  }
  .right{
    border-right: 0px;
  }
  .bottom{
    border-bottom: 0px;
  }
  .winner{
    background-color: rgba(255, 0, 0, 0.416);
  }
  .tie{
    background-color: rgba(128, 128, 128, 0.479);
  }
  #msg{
    margin-bottom: 2em;
    font-size: 1.2em;

  }
  #board{
  
    display: grid;
    height: 70vmin;
    width: 70vmin;
    margin: 8vmin;
  
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }